<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/travel_trip.jpg);">
 <div class="banner-text">
  <h2 class="description-header">THE WORLD IS WAITING FOR YOU </h2> <br>
  <h4>
Discover the most beautiful places for people who want to go around the world</h4>
 </div>
 <div class="dimmer"></div>
</section>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="activite">... </h3>
      <p class="mission">"... " <br> Lahcen Sabari, fondateur du club</p>
    </div>
  </div>
</div>
