<div class="container">
<nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Silicon Run", root_path, class:"navbar-brand"%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="link_nav"><%= link_to "Nos services ", root_path, class:"#" %></li>
            <li class="link_nav"><%= link_to "Nos tarifs ", manifesto_path, class:"#" %></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>


<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/travel.jpg);">
 <div class="banner-text">
  <h2 class="description-header">THE WORLD IS WAITING FOR YOU </h2>
  <h4>discover the most beautiful places of travelers around the world</h4>
 </div>
 <div class="dimmer"></div>
</section>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="activite">Notre Mission </h3>
      <p class="mission">"Développer des nageurs de niveau compétitif et récréatif, <br>
         en bassin et en eau libre, tout en respectant les objectifs <br>
         et les habiletés de chacun, et ce, dans le plaisir et le bien-être. " <br> Lahcen Sabari, fondateur du club</p>
    </div>
  </div>
</div>
