<div class="container">
<nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "TravelList", root_path, class:"navbar-brand"%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="link_nav"><%= link_to "Ajoutez un endroit ", root_path, class:"btn btn-danger btn-rounded btn-lg" %></li>


          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>


<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/travel_trip.jpg);">
 <div class="banner-text">
  <h2 class="description-header">THE WORLD IS WAITING FOR YOU </h2> <br>
  <h4>discover the most beautiful places for travelers around the world</h4>
 </div>
 <div class="dimmer"></div>
</section>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="activite">... </h3>
      <p class="mission">"... " <br> Lahcen Sabari, fondateur du club</p>
    </div>
  </div>
</div>
